@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.expense{
  width: calc(100%-20px);
  height: calc(100vh-20px);
  font-family: 'poppins','sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  background-color: #1d3b56;
  /* background-color: rgb(10, 10, 10); */
  padding: 1rem;
  overflow: hidden;
  /* backdrop-filter: blur(15px); */
}

.expense-tracker{
  /* width: 100vw;
  max-width: 800px; */
  display: flex;
  justify-content: space-between;
}

.expense-tracker h1{
  font-size: 40px;
}

.expense-tracker button{
  margin-left: 10px;
}

.expense-tracker .text{
  width: 35%;
  background: #7da7c0;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #ffffff;
  margin: .5rem;
  padding: 1rem 8px;
  font-size: 1rem;
}

.expense-tracker .summary .income, .expense-tracker .summary .expenses{
  font-size: 1.5rem;
}

.expense-tracker .text::placeholder, .number::placeholder{
  color: #ffffff;
}

.expense-tracker .text:focus, .expense-tracker .number:focus{
  outline: 2px solid #ffffff;
}

.expense-tracker .number{
  width: 10%;
  background: #7da7c0;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: #ffffff;
  margin: .5rem;
  padding: 1rem 16px;
  font-size: 1rem;
}

.expense-label, .income-label{
  font-size: 1.3rem;
}

.add-transaction button{
  width: 10rem;
  padding: .5rem;
  border-radius: 1rem;
  background: #096daf;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  color: #ffffff;
  font-size: 1rem;
  border: none;
  padding: .7rem 0rem;
  font-weight: bold;
  font-family: 'poppins';
  cursor: pointer;
}

.add-transaction button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
}

.profile-photo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/*Sign-out*/
.sign-out-button {
  border: none;
  margin-top: 50px;
  width: 150px;
  background: #096daf;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  font-family: 'poppins';
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.sign-out-button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

/*Transanctions*/
.transactions {
  /* margin-left: 430px; */
  background-color: #7da7c0;
  /* color:#ffffff; */
  color: rgb(13, 13, 13);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 20px;
  width: 600px;
  height: 400px;
  overflow: auto;
  border: 3px solid #023047;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

.transactions .trans-header{
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: #1d3b56;
  color:#ffffff;
  font-size: 1.3rem;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}

/*Scroll bar*/
/* Styles the entire scrollbar width/height */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Styles the track (background) */
::-webkit-scrollbar-track {
  background: #1d3b56;
}

/* Styles the thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #7da7c0;
  border-radius: 20px; /*Optional: adds rounded corners*/
}

/*Transactions Scroll bar*/
.transactions::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Styles the track (background) */
.transactions::-webkit-scrollbar-track {
  background: #7da7c0;
}

/* Styles the thumb (draggable part) */
.transactions::-webkit-scrollbar-thumb {
  background-color: #1d3b56;
  border-radius: 20px; /*Optional: adds rounded corners*/
}
